:root {
  --border:0px solid;
  --margin: 0 auto;
}

body {
  background: #F2F2F2;
}

.header {
  width: 1400px;
  height: 670px;
  border: var(--border);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FEFCF7;
  margin: var(--margin);
}
.header--nav {
  width: 80%;
  height: 70px;
  display: flex;
  border: var(--border);
}
.header--nav_logo {
  width: 30%;
  height: 100%;
  display: flex;
  border: var(--border);
  align-items: center;
}
.header--nav_list {
  width: 70%;
  height: 100%;
  border: var(--border);
  display: flex;
  justify-content: end;
  align-items: center;
}
.header--hero {
  width: 80%;
  height: 600px;
  border: var(--border);
  background-image: url(/images/Bitmap.jpg);
  background-repeat: no-repeat;
}

.main {
  width: 1400px;
  height: 570px;
  border: var(--border);
  display: flex;
  background: #FEFCF7;
  flex-direction: column;
  align-items: center;
  margin: var(--margin);
}
.main-container {
  width: 80%;
  height: 100%;
  display: flex;
  border: var(--border);
  align-items: end;
  background-image: url(/images/Group\ 29.png);
  background-repeat: no-repeat;
}
.main-container_item {
  width: 25%;
  height: 80%;
  border: var(--border);
}

.second-main {
  width: 1400px;
  height: 600px;
  border: var(--border);
  margin: var(--margin);
  display: flex;
  background: #FEFCF7;
  justify-content: center;
}
.second-main_container {
  width: 80%;
  height: 100%;
  border: var(--border);
  background: #2C343E;
  border-radius: 10px;
}
.second-main_container-top {
  width: 100%;
  height: 50%;
  border: var(--border);
}
.second-main_container-bottom {
  width: 100%;
  height: 50%;
  border: var(--border);
  display: flex;
  justify-content: space-around;
}

.cards {
  width: 350px;
  height: 382px;
  background: #FEFCF7;
  background: #0E8784;
  border-radius: 8px;
}

.last-main {
  width: 1400px;
  height: 850px;
  border: var(--border);
  margin: var(--margin);
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #FEFCF7;
}
.last-main-top {
  width: 80%;
  height: 30%;
  border: var(--border);
  display: flex;
  align-items: end;
}
.last-main-bottom {
  width: 80%;
  height: 70%;
  border: var(--border);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.last-main-bottom-cards {
  width: 32%;
  height: 90%;
  border: var(--border);
}

.footer {
  width: 1400px;
  height: 220px;
  border: var(--border);
  background: #FEFCF7;
  margin: var(--margin);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-container {
  width: 80%;
  height: 110px;
  border: var(--border);
  background-color: #2C343E;
  display: flex;
}
.footer-container-right {
  width: 30%;
  height: 100%;
  border: var(--border);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-container-center {
  width: 50%;
  height: 100%;
  border: var(--border);
  display: flex;
  justify-content: start;
  align-items: center;
}
.footer-container-left {
  width: 20%;
  height: 100%;
  border: var(--border);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=main.css.map */
